<p>
  <strong><%= @stylesheets.first.name %></strong> can't be edited or deleted because it serves as a backup stylesheet.
To make a stylesheet that is based on <strong><%= @stylesheets.first.name %></strong> create a new stylesheet and paste the content of <strong><%= @stylesheets.first.name %></strong> to it.</p>
<p>
  <%= link_to 'Create a new stylesheet', new_admin_stylesheet_path if policy([:admin, :stylesheet]).create?%>
</p>
<% if @stylesheets %>
<table>
  <tr>
    <th>Id</th><th>Name</th><th>Updated at</th><th>Active?</th><th></th><th></th>
  </tr>
  <%= will_paginate @stylesheets %>
  <% @stylesheets.each do |stylesheet| %>
  <tr>
    <td><%= stylesheet.id %></td>
    <td><%= stylesheet.name %></td>
    <td class="table_cell table_cell--date"><%= stylesheet.updated_at %></td>
    <td>
        <% if policy([:admin, :site]).change_stylesheet and not Site.first.stylesheet_id == stylesheet.id%>
          <%= link_to('Make active', admin_site_path(Site.first, stylesheet: stylesheet), method: :patch) %>
        <% elsif Site.first.stylesheet_id == stylesheet.id %>
          <%= "Active" %>
        <% end %>
    </td>
    <td>
      <% if policy([:admin, stylesheet]).update? %>
        <%= link_to 'Edit', edit_admin_stylesheet_path(stylesheet) %>
      <% else %>
        <%= link_to 'Show', admin_stylesheet_path(stylesheet) %>
      <% end %>
    </td>
    <td><%= link_to 'Delete', delete_admin_stylesheet_path(stylesheet) if policy([:admin, stylesheet]).destroy?%></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @stylesheets %>
<% else %>
<p>No stylesheets (how is it possible?)</p>
<% end %>
