<%= cell(PageHeadline::Cell::Item, nil, text: "Stylesheet: #{@stylesheet.name}") %>

<div>
  <%= form_for [:admin, @stylesheet] do |f| %>
    <div class="form_group form_group--stylesheet_name">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form_group__input form_group__input--stylesheet_name", readonly: true %>
    </div>

    <div class="form_group form_group--stylesheet_content">
      <%= f.label :content %>
      <%= f.text_area :content, class: "form_group__input form_group__input--stylesheet_content", readonly: true %>
    </div>
  <% end %>
</div>

<div class="form_group">
  <%= link_to 'Back to manage stylesheets', admin_stylesheets_path %>
</div>
