<h1>Admin::Articles#index</h1>
<p>
  <%= link_to 'Create a new article', new_admin_article_path %>
</p>
<% if @articles %>
  <table>
    <tr>
      <th>Id</th><th>Title</th><th>Privacy</th><th>Admin</th><th>Author</th><th>Categories</th><th></th><th></th>
    </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.id %></td>
      <td><%= article.title %></td>
      <td><%= article.privacy %></td>
      <td><%= article.author.admin.email %></td>
      <td><%= article.author.name %></td>
      <td><%= article.categories.map{|category| category.name}.join(", ") %></td>
      <td><%= link_to 'Edit', edit_admin_article_path(article) %></td>
      <td><%= link_to 'Delete', delete_admin_article_path(article) %></td>
    </tr>
  <% end %>
    </table>
<% else %>
  <p>No articles</p>
<% end %>
