<div>
  <article class="article">
    <header class="article_header">
      <h1 class="current_page_header"><%= @article.title %></h1>
      <footer>
	<p class="article_header__tags">
	  <%= "Category".pluralize(@article.categories.size) %>:
	  <%= @article.categories.map{ |c| link_to(c.name, category_articles_path(c)) }.to_sentence(two_words_connector: ", ", last_word_connector: ", ").html_safe %>
	</p>
      </footer>
    </header>

    <div class="js_markdown article_body"><%= raw @article.content %></div>

    <footer class="article_footer">
      <% if @article.published? %>
        <%= time_tag @article.published_at, class:"article_footer__published" %>
      <% else %>
        <div class="article_footer__published">
          <%= @article.get_not_published_description %>
        </div>
      <% end %>
      <%= link_to_if @article.author.not_deleted?, @article.author.name, @article.author, rel:"author", class:"article_footer__author" do %>
      <div class="article_footer__author"><%= @article.author.name %></div>
      <% end %>
    </footer>
  </article>

</div>
