<div>
  <article class="article">
    <header class="article_header">
      <h1 class="current_page_header"><%= @article.title %></h1>
      <footer>
	<p class="article_header__tags">
	  <%= "Category".pluralize(@article.categories.size) %>:
	  <%= @article.categories.map{ |c| link_to(c.name, category_articles_path(c)) }.to_sentence(two_words_connector: ", ", last_word_connector: ", ").html_safe %>
	</p>
      </footer>
    </header>
    
    <div class="js_markdown article_body"><%= raw @article.content %></div>

    <footer class="article_footer">
      <p>at: <%= @article.created_at %></p>
      <p>by: <%= @article.author.name %></p>
    </footer>
  </article>
  
</div>
