<div>
  <article class="article">

    <div class="article_categories" >
      <span class="article_categories__title">
      	<%= "Category".pluralize(@article.categories.size) %>:
      </span>
      <ul class="article_categories__list">
      	<%= category_items @article.categories.map{ |c| c.name}, @article.categories, class:"article_categories__item", link_class:"article_categories__link" %>
      </ul>
    </div>

    <div class="js_markdown article_body"><%= raw @article.content %></div>

    <footer class="article_footer">
      <% if @article.published? %>
        <%= time_tag @article.published_at, class:"article_footer__published" %>
      <% else %>
        <div class="article_footer__published">
          <%= @article.get_not_published_description %>
        </div>
      <% end %>
      <%= link_to_if @article.author.not_deleted?, @article.author.name, @article.author, rel:"author", class:"article_footer__author" do %>
      <div class="article_footer__author"><%= @article.author.name %></div>
      <% end %>
    </footer>
  </article>

</div>
