<%= form_for [:admin, @category] do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% @category.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: '' %>
  </div>

  <div class="">
    <%= f.label :description %><br />
    <%= f.text_field :description, class: '' %>
  </div>

  <div class="">
    <%= f.label :position %><br />
    <%= f.select :position, 1..Category.all.size %>
  </div>
  
  <div class="actions">
    <%= f.submit("Save", class: "") %>
  </div>
  
<% end %>

<div>
  <% unless @category.new_record? %>
  <%= link_to 'Delete this category', delete_admin_category_path(@category) %>
  <% end %>
</div>
