<p>
  <%= link_to 'Create a new category', new_admin_category_path if policy([:admin, :category]).create? %>
</p>
<% if @categories %>
  <table>
    <tr>
      <th>Id</th><th>Position</th><th>Name</th><th>Description</th><th>Visibility</th><th>Articles</th><th></th><th></th>
    </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.position %></td>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= category.visibility.titleize %></td>
      <td><%= link_to category.articles.size, admin_category_articles_path(category) %></td>
      <td><%= link_to 'Edit', edit_admin_category_path(category) if policy([:admin, category]).update? %></td>
      <td><%= link_to 'Delete', delete_admin_category_path(category) if policy([:admin, category]).destroy? %></td>
    </tr>
  <% end %>
    </table>
<% else %>
  <p>No categories</p>
<% end %>
