<header class="current_page_header"><h1>Manage footer sections</h1></header>
<p>
  <%= link_to 'Create a new footer section', new_admin_footer_section_path if policy([:admin, :footer_section]).create? %>
</p>
<% if @footer_sections %>
<table>
  <tr>
    <th>Id</th><th>Position</th><th></th><th></th>
  </tr>
  <%= will_paginate @footer_sections %>
  <% @footer_sections.each do |footer_section| %>
  <tr>
    <td><%= footer_section.id %></td>
    <td><%= footer_section.position %></td>
    <td><%= link_to 'Edit', edit_admin_footer_section_path(footer_section) if policy([:admin, footer_section]).update? %></td>
    <td><%= link_to 'Delete', delete_admin_footer_section_path(footer_section) if policy([:admin, footer_section]).destroy?%></td>
  </tr>
  <% end %>
</table>
<%= will_paginate @footer_sections %>
<% else %>
<p>No footer sections</p>
<% end %>
