<!DOCTYPE html>
<html>
  <head>
    <title>SimpleSiteCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="page_container">
      <header class="page_header">
	<% @header_sections.each do |section| %>
	<section class="js_markdown page_header__section"><%= raw section.content %></section>
	<% end %>
      </header>
      
      <nav>
	<% @categories.each do |category| %>
	<div><%= link_to category.name, category_articles_path(category) %></div>
	<% end %>
      </nav>

      <main>
      <%= yield %>
      </main>

      <footer class="page_footer">
	
	<% @footer_sections.each do |section| %>
	<section class="js_markdown page_footer__section"><%= raw section.content %></section>
	<% end %>
	<div>
	  <%= link_to 'Manage categories', admin_categories_path %>
	  <br>
	  <%= link_to 'Manage articles', admin_articles_path %>
	</div>
      </footer>
    </div>
  </body>
</html>
