<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title><%= Site::Settings.title %></title>
    <meta name="description" content="<%= Site::Settings.description %>"/>
    <meta name="keywords" content="<%= Site::Settings.keywords %>"/>
    <%= csrf_meta_tags %>
    <meta name="author" content="<%= Site::Settings.author %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <div class="page_container">
      <header class="page_header" >
	  <% @header_sections.each do |section| %>
	  <a href="<%= root_path  %>" class="page_header__section">
	    <%= section.content.html_safe %>
	  </a>
	  <% end %>
      </header>
      
      <nav class="main_navigation">
	<% @visible_categories.each do |category| %>
	<div class="main_navigation__item">
	  <%= active_link_to category.name, category_articles_path(category), class: "main_navigation__link", class_active: "main_navigation__link--active", active: :inclusive %>

	</div>
	<% end %>
      </nav>

      <main>
      <%= yield %>
      </main>

      <footer class="page_footer">
	
	<% @footer_sections.each do |section| %>
	<section class="page_footer__section"><%= section.content.html_safe %></section>
	<% end %>
      </footer>      

    </div>
          
    <% if admin_signed_in? %>
    <%= link_to 'Admin panel', admin_path, class: "link_to_admin_panel" %>
    <% end %>
     
  </body>
</html>
