<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8"/>
    <title><%= Site::Settings.title %></title>
    <meta name="description" content="<%= Site::Settings.description %>"/>
    <%= csrf_meta_tags %>
    <meta name="author" content="<%= Site::Settings.author %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
      <%= Site.first.stylesheet.content.html_safe %>
    </style>
  </head>

  <body>
    <div class="page_container">
      <header class="page_header" >
	<%= cell(HeaderSection::Cell::Container, nil, current_admin: current_admin, root_path: root_path) %>
      </header>

      <nav class="main_navigation">
	<%= cell(MainNavigation::Cell::Container, nil, url: request.original_url) %>

      </nav>

      <main>
      <%= yield %>
      </main>

      <footer class="page_footer">
	<%= cell(FooterSection::Cell::Container, nil, current_admin: current_admin) %>
      </footer>

    </div>

    <% if admin_signed_in? %>
    <%= link_to 'Admin panel', admin_path, class: "link_to_admin_panel" %>
    <p class="link_to_admin_panel">loged as: <%= current_admin.email %></p>
    <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: "link_to_admin_panel" %>
    <%= cell(VersionNumber::Cell::Item, nil, number: SimpleSiteCms::Application::VERSION) %>
    <% end %>

  </body>
</html>
