<!DOCTYPE html>
<html>
  <head>
    <title>SimpleSiteCms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% @header_sections.each do |section| %>
      <%= section.content  %>
      <% end %>
    </header>
    
    <%= yield %>

    <footer>

      <% @footer_sections.each do |section| %>
      <%= section.content  %>
      <% end %>

    </footer>
  </body>
</html>
